body {
    margin: 0;
	font-family: arial;
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
}

/* --------------------------------- */
/* ------------- navbar ------------ */
/* --------------------------------- */

#navbar {
	width: 100%;
	height: 56px;
	position: fixed;
	background-color: rgb(200,200,200);
	border-bottom: 2px solid rgba(50,50,50,0.7);
}
#navbar li {
	width: 15%;
	height: 34px;
	text-align: center;
	font-size: 1.2em;
	padding: 10px;
	display: inline;
	float: right;
	border: 1px solid rgb(150,150,150);
	cursor: pointer;
	transition: 0.3s;
}
#navbar li:hover {
	padding-top: 20px;
	padding-bottom: 0px;
	background-color: rgb(180,180,180);
}
#navbar a {
	text-decoration: none;
	color: rgb(50,50,50);
}
#navbar ul {
	padding: 0;
	margin: 0;
}
#navbar img {
	padding: 3px;
	background-color: rgb(220,220,220);
	float: left;
}

/* --------------------------------- */
/* ------------ banner ------------ */
/* --------------------------------- */

#banner {
	background-color: rgba(10,10,10,0.9);
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	border-top: 4px solid rgba(100,100,100,0.5);
	width: 100%;
}
#banner p {
	margin-left: 70px;
	color: white;
}
#banner button {
	position: absolute;
	bottom: 7px;
	right: 7px;
	background-color: rgb(200,200,200);
	padding: 5px 15px;
	cursor: pointer;
}
#banner a {
	color: springgreen;
}

/* --------------------------------- */
/* ------------ content ------------ */
/* --------------------------------- */

#content {
	width: 100%;
	margin-top: 50px;
	padding-top: 10px;
}
.vPadding {
    height: 15px;
    background-color: rgb(20,20,20);
}
.eventText {
	text-decoration: underline;
	color: rgb(150,150,150);
	cursor: pointer;
}

/* --------------------------------- */
/* --------- abacus shared --------- */
/* --------------------------------- */

#sorobanAbacus, #binaryAbacus {
    width: 80%;
    margin: auto;
    background-color: rgb(100,100,100);
    border-radius: 10px;
    padding: 1%;
}
#sorobanTitle, #binaryTitle {
	margin: 30px 0 10px 10%;
	font-size: 2em;
	padding: 0;
}
.sorobanText, #sorobanAbacusValue, #sorobanTitle, .binaryText, #binaryAbacusValue, #binaryTitle {
	margin-left: 10%;
	width: 80%;
}
#sorobanAbacusValue, #binaryAbacusValue {
	margin: 20px 10% 0 10%;
	text-align: center;
	font-size: 2.5em;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(100,100,100);
}
.sorobanDigitVal, .binaryDigitVal {
	text-align: center;
	margin: 0;
	padding: 10px;
	font-size: 2em;
	color: white;
}
.sorobanRow, .binaryRow {
    width: 8%;
    display: inline-block;
    margin-left: 1%;
    border: 1px solid rgb(50,50,50);
}
.sorobanTop, .sorobanBottom, .binaryRowDisp {
	width: 100%;
}
.sorobanRow button, .binaryRow button {
    width: 100%;
    padding: 2px;
    margin: 0;
    background-color: rgb(50,50,50);
    color: rgb(200,200,200);
	border: 1px solid rgb(220,220,220,0.7);
    cursor: pointer;
}

/* --------------------------------- */
/* ------------ footer ------------- */
/* --------------------------------- */

#footer {
	bottom: 0;
	margin: 50px 0 0 0;
	padding: 20px 0 0 0;
	height: 150px;
	text-align: center;
	color: rgb(200,200,200);
	background-color: rgb(50,50,50);
}
#footer a {
	color: springgreen;
	background-color: rgb(50,50,50);
}