body {
    margin: 0;
	font-family: arial;
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
}

/* ------------- navbar ------------ */

#navbar {
	width: 100%;
	height: 56px;
	position: fixed;
	background-color: rgb(200,200,200);
	border-bottom: 2px solid rgba(50,50,50,0.7);
}
#navbar li {
	width: 15%;
	height: 36px;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	padding: 10px;
	display: flex;
	float: right;
	border: 1px solid rgb(150,150,150);
	cursor: pointer;
	transition: 0.3s;
}
#navbar li:hover {
	background-color: rgb(170,170,170);
}
#navbar a {
	text-decoration: none;
	color: rgb(50,50,50);
}
#navbar ul {
	padding: 0;
	margin: 0;
}
#navbar img {
	max-width: 50%; 
	padding: 3px;
	float: left;
}
.feature {
	display: block;
	margin: 10px 0;
	padding-left: 30px;
	margin-left: 10px;
	color: silver;
	border-left: 3px solid silver;
}

/* ------------ banner ------------ */

#banner {
	background-color: rgba(10,10,10,0.9);
	display: inline-block;
	position: relative;
	padding: 30px 0;
	border-top: 4px solid rgba(100,100,100,0.5);
	width: 100%;
}
#banner p {
	margin: 15px 50px;
	color: rgb(250,250,250);
}
#banner button {
	position: absolute;
	bottom: 7px;
	right: 7px;
	background-color: rgb(200,200,200);
	padding: 5px 15px;
	cursor: pointer;
}
#banner a {
	color: springgreen;
	text-decoration: underline;
}

/* ----------- languages ----------- */

#langElem {
	display: block;
	text-align: right;
	margin: 15px 20px 0px 0px;
}
.lang {
	background-color: rgb(100,100,100);
	color: rgb(250,250,250);
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
}
.lang:hover {
	color: rgb(250,230,190);
}

/* ------------ content ------------ */

#content {
	width: 100%;
	margin-top: 50px;
	padding-top: 10px;
}
.vPadding {
    height: 15px;
    background-color: rgb(20,20,20);
}
.eventText {
	text-decoration: underline;
	color: rgb(150,150,150);
	cursor: pointer;
}

/* --------- abacus shared --------- */

#soroban, #binary, #suanpan {
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}
#sorobanAbacus, #binaryAbacus, #suanpanAbacus  {
    background-color: rgb(100,100,100);
    border-radius: 10px;
    padding: 1%;
}
#sorobanTitle, #binaryTitle, #suanpanTitle {
	margin: 10px 0 10px 0;
	font-size: 2em;
	padding: 0;
}
#sorobanAbacusValue, #binaryAbacusValue, #suanpanAbacusValue {
	margin: 20px 0 40px 0;
	text-align: center;
	font-size: 1.8em;
}
.sorobanDigitVal, .binaryDigitVal, .suanpanDigitVal {
	text-align: center;
	margin: auto;
	font-size: 1.5em;
    padding: 5px 0;
	color: white;
}
.sorobanRow, .binaryRow, .suanpanRow {
    width: 8%;
    display: inline-block;
    margin-left: 1%;
    border: 1px solid rgb(50,50,50);
}
.sorobanTop, .sorobanBottom, .binaryRowDisp, .suanpanTop, .suanpanBottom {
	width: 100%;
}
.sorobanRow button, .binaryRow button, .suanpanRow button {
    width: 100%;
    padding: 2px;
    margin: 0;
    background-color: rgb(50,50,50);
    color: rgb(200,200,200);
	border: 1px solid rgb(220,220,220,0.7);
    cursor: pointer;
}

#sorobanMatchActive button, #sorobanMatchDescription button, #binaryMatchActive button, #binaryMatchDescription button, #suanpanMatchActive button, #suanpanMatchDescription button {
	padding: 5px;
	margin-left: 10px;
}
#sorobanMatchActive button, #binaryMatchActive button, #suanpanMatchActive button {
	margin: 10px 0;
}
#sorobanMatchDescription, #sorobanMatchActive, #binaryMatchDescription, #binaryMatchActive, #suanpanMatchDescription, #suanpanMatchActive {
	font-size: 1.1em;
}

/* ------------ footer ------------- */

#footer {
	bottom: 0;
	margin: 50px 0 0 0;
	padding: 20px 0 0 0;
	height: 150px;
	text-align: center;
	color: rgb(200,200,200);
	background-color: rgb(50,50,50);
}
#footer a {
	color: springgreen;
	background-color: rgb(50,50,50);
}
#footer span {
	width: 80%;
	margin: auto;
}